.container {
  position: relative;
  max-width: 512px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.info {
  position: relative;
  padding: 24px;
}

.container img {
  position: absolute;
  object-fit: cover;
}

.icon {
  width: 32px;
  height: 32px;
  padding-bottom: 8px;
}

.title {
  font-size: 32px;
  padding-bottom: 4px;
}
